html, body {
    height: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(#db8475, #c55b64);
}

#options-icon {
    margin: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    opacity: 70%;
}

#options-icon:hover {
    opacity: 100%;
}

#content {
    height: 85%;
}

#left, #right {
    border-radius: 10px;
    width: 42.5%;
    height: 100%;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
    overflow-x: visible;
}

#left p, #right p {
    margin: 25px;
}

#left {
    float: left;
    margin-left: 5%;
}

#right {
    float: right;
    margin-right: 5%;
}

h3 {
    color: #9c1c27;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.question {
    color: #c55b64;
    font-weight: 500;
    font-size: 20px;
}

.answer {
    color: #000000;
    font-size: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: rgba(255, 255, 255, 0.164);
}

footer p {
    position: relative;
    text-align: center;
    bottom: 17%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

/* Scrollbar things!! */
::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
    background: #91000025;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 2px;
    background: #c76475;
}