html, body {
	margin: 0px;
    height: 100%;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
    background-size: 25px 25px;
    background-color: rgb(220, 223, 235);
    background-image:
    linear-gradient(to right, rgb(187, 187, 187) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(187, 187, 187) 1px, transparent 1px);
}

/* Styling text */
h1 {
    color: #000000; font-size: 26px; margin-left: 25px;
    font-weight: 600;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
}
h2 {
    display: inline-block;
	margin: 5px;
	margin-left: 1%;
    padding: 6px 12px;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
}
h3 {
    color: #000000; font-weight: 00; font-size: 22px; text-align: center;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
}
p {
    margin-left: 25px;
    margin-right: 25px;
    color: #000000;
    font-weight: 400;
    font-size: inherit;
    text-align: center;
}
.question {color: #000000; font-weight: 500; font-size: 23px; text-align: left;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;margin:0px;margin-left:25px;}
.answer {color: #000000; font-size: 15px; text-align: left;}
a:active, a:link, a:visited {color: #9c2add; text-decoration: none;}
a:hover {color: #7057C9; text-decoration: none;}

/* Styling menu bubbles */
.bubble {
    margin-top: 4%;
	border-radius: 15px;
    background: rgba(255, 255, 255, 0.7);
    border: 2px rgb(197, 197, 197) solid;
	padding-top: 5px;
	padding-bottom: 20px;
}

/* Styling fieldsets */
fieldset {
	margin: auto;
	width: 80%;
	border: 2px rgb(197, 197, 197) dotted;
    border-radius: 15px;
    overflow-x: hidden;
}

/* Styling scrollbar */
::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {background: #563b7500; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
::-webkit-scrollbar-thumb {
    border-radius: 35px;
    width: 4px;
    background: rgb(172, 172, 172);
    border: 5px solid transparent;
    background-clip: content-box;
}

/* Styling footer */
footer {
    position: fixed;
    left: 0; bottom: 0;
    height: 5%; width: 100%;
    background: rgba(255, 255, 255, 0.4);
}
footer p {
    position: relative;
    bottom: 17%;
	text-align: center;
	color: #000000;
    font-weight: 400; font-size: 14px;
}

/* Styling options icon */
#options-icon:hover {opacity: 100%;}
#options-icon {
    margin: 5px;
    position: absolute;
    right: 5px; top: 5px;
    width: 30px; height: 30px;
    opacity: 70%;
}

/* Styling file selectors */
input {text-align: center;}
input[type="file"] {display: none;}
input:focus, textarea:focus, select:focus{outline: none;}
#hidden-img {display: none;}
.filing, .custom-file-upload {
    border-radius: 5px;
    background: rgb(0, 117, 255);
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}
.filing2, .custom-file-upload2 {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(0,0,0);
    vertical-align: middle;
}
a:active, a:link, a:visited {
    color: rgb(0, 117, 255);
}
.filing:hover, .custom-file-upload:hover {
    background: rgba(207, 207, 207, 0.7);
}

select {
    font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    text-align-last:center;
}