body {
    margin: 0px;
    background-image: linear-gradient(#f1a465, #c55b87);
}
body {
    font-family: 'Assistant';
    font-size: 15px;
    background: linear-gradient(180deg, #DB8475 0%, rgba(197, 91, 100, 0.86) 100%);
    
}

div {
    background-color: bisque;
}

header {
    background-color: rgb(187, 139, 81);
    position: absolute;
    top: 0px;
    height: 50px;
}

.sidebar {
    width: 20%;
    float: left;
    text-align: center;
    background-color: silver;
}

.settingscontent {
    width: 70%;
    float: left;
    text-align: center;
    background-color: silver;
}

footer {
    background: red;
    position: absolute;
    bottom: 0px;
    width: 100%;
}