body {
    margin: 0px;
    background-image: linear-gradient(#db8475, #c55b64);

    font-family: 'Assistant';
    font-size: 15px;
}    
    
div {
    position: center;
    width: relative;
    height: relative;
}

.topbar {
    text-align: left;
}

.sidebar {
    float: left;
    text-align: center;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.76); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 10px 20px 10px;
    margin: 20px 20px 0px 20px;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 1.0);
}

#flagoption {
    position: relative;
    width: relative;
    height: relative;
}


.footer {
    float: left;
    text-align: center;

    position: absolute;
    float: none;
    text-align: center;
    
    width: 10%;
    height: relative;
    bottom: 0px;
    
    background-color: rgba(255, 255, 255, 0.76); 
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 1.0);
}


.settingscontent {
    float: left;
    text-align: center;

    position: center;
    width: relative;
    
    background-color: rgba(255, 255, 255, 0.76); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px 5px 20px 5px;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 1.0);
    
    margin: 20px 20px 50px 20px;
}