body, html {
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(#db8475, #c55b64);
    font-size: 16px;
    overflow: hidden;
}

.column {
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    float: left;
    width: 30%;
}

.blobby {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
}

textarea {
    width: inherit;
    height: 50px;
}

input {
    text-align: center;
}

/* Style file selectors */
input[type="file"] {
    display: none;
}

.filing, .custom-file-upload {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#hidden-img {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: rgba(255, 255, 255, 0.164);
}

footer p {
    position: relative;
    text-align: center;
    bottom: 17%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}