html, body {
	overflow-y: visible;
}

.column {
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    float: left;
    width: 30%;
}

textarea {
    width: inherit;
    height: 50px;
}

.personLabels {
    display: inline-block;
    width: 90px;
}

.textingLabels {
    font-size: 20px;
}

div label, div input{
    vertical-align: middle;
}

.scaler-text {
    line-height: 0px;
}

/* Scrollbar shows up on side so don't round the radius */
::-webkit-scrollbar-track {border-radius: 0px;}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
}