html, body {
    height: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(#db8475, #c55b64);
}

#options-icon {
    margin: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    opacity: 70%;
}

#options-icon:hover {
    opacity: 100%;
}

#content {
    border-radius: 20px;
    margin: 10%;
    width: 80%;
    height: 80%;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.5);
}

h3 {
    padding-top: 20px;
    color: #9c1c27;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    color: #c55b64;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: rgba(255, 255, 255, 0.164);
}

footer p {
    position: relative;
    text-align: center;
    bottom: 17%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

a:active, a:link, a:visited {
    color: #9c1c27;
    text-decoration: none;
}

a:hover {
    color: #c55b64;
    text-decoration: none;
}
  