#content {
    margin-left: 10%;
    width: 80%;
}

.bubble p {
    text-align: left;
}

#studio-image {
    width:50%;
    border-radius:15px;
    display:inline-block;
    float:right;
    margin: 10px 30px 0px 30px;
}

.bubble {
    position: relative;
}

#welcome-image {
    width: 200px;
    position: absolute;
    bottom: -22px;
    right: 10px;
}