html {
    overflow-y: hidden;
}

#content {
    height: 70%;
}

#left, #right {
    width: 42.5%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
}

#left {float: left; margin-left: 5%;}
#right {float: right; margin-right: 5%;}
