@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gaegu:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	margin: 0px;
    height: 100%;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    cursor: default;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
    background-size: 25px 25px;
    background-color: rgb(220, 223, 235);
    background-image:
    linear-gradient(to right, rgb(187, 187, 187) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(187, 187, 187) 1px, transparent 1px);
}

a {
    text-decoration: none;
}
/* Styling text */
h1, h2, h3 {
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
}
h1 {
    color: #000000;
    font-weight: 600;
    font-size:calc(max(4.5vw, 3rem)); 
    padding-top: 3vw;
    text-align: center;
    transition: .3s;
        
    
    
}
h2 {
    display: inline-block;
	margin: 5px;
	margin-left: 1%;
    padding: 6px 12px;
}
h3 {
    color: #000000; font-weight: 00; font-size: 22px; text-align: center;
}
p {
    margin-left: 25px;
    margin-right: 25px;
    color: #000000;
    font-weight: 400;
    font-size: inherit;
    text-align: center;
}


/* Styling menu bubbles */
.bubble {
    margin-top: 4%;
	border-radius: 15px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
	padding-top: 25px;
    padding-bottom: 20px;
    
}

/* Styling fieldsets */
fieldset {
	margin: auto;
	width: 80%;
	border: 2px rgb(197, 197, 197) dotted;
    border-radius: 15px;
    overflow-x: hidden;
}

/* Styling scrollbar */
::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {background: #563b7500; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
::-webkit-scrollbar-thumb {
    border-radius: 35px;
    width: 4px;
    background: rgb(172, 172, 172);
    border: 5px solid transparent;
    background-clip: content-box;
}

/* Styling footer */
footer {
    position: fixed;
    left: 0; bottom: 0;
    height: 5%; width: 100%;
    background: rgba(255, 255, 255, 0.4);
}
footer p {
	text-align: center;
	color: #000000;
    font-weight: 400; font-size: 14px;
    padding-top: .6%;
    
}

/* Styling options icon */

.toolbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    top: 1vh;
    align-items: center;
}

#help-icon:hover, #options-icon:hover, #acct-icon:hover, #studio-icon:hover, #kofi-icon:hover {opacity: 100%;}
#help-icon, #options-icon, #acct-icon, #studio-icon, #kofi-icon {
    width: calc(max(2.5vw, 30px));
    height: calc(max(2.5vw, 30px));
    margin: .5vw;
    opacity: 70%;
    top: 5px;
}

#kofi-icon{
    width: calc(max(5vw, 60px)); 
    height: calc(max(2vw, 24px)); 
}

/* Styling file selectors */
input {text-align: center;}
input[type="file"] {display: none;}
input:focus, textarea:focus, select:focus{outline: none;}
#hidden-img {display: none;}
.filing, .custom-file-upload {
    border-radius: 5px;
    background: rgb(0, 117, 255);
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}
.filing2, .custom-file-upload2 {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(0,0,0);
    vertical-align: middle;
}
a:active, a:link, a:visited {
    color: rgb(0, 117, 255);
}
.filing:hover, .custom-file-upload:hover {
    background: rgba(207, 207, 207, 0.7);
}

select {
    font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    text-align-last:center;
}

/* ------------------- SIDE MENU ------------------------ */
.sidebar{
    position: fixed;
    left: calc(min(-15%, -120px));
    width: calc(max(15%, 120px));
    background-color:#8CDAD8;
    height: 100%;
    z-index: 1000;
    /* display:none; */
    transition: all .5s ease;
    
    
}

#check{
    display: none;
}

label #menu-btn, label #close-btn{
    position: fixed;
    z-index: 1001;
    transition: all .5s;
    color:#3E4350;
    cursor: pointer;
    
    
    padding: .75vh .75vw;
    border-radius: 10px;
    
}

label #close-btn {
    left: calc(min(-15%, -120px));
    opacity: 0;
    pointer-events: none;
    font-size: 3vh;
    
}

label #close-btn:hover{
    font-size: 3.5vh;
}
label #menu-btn{
    left: 2%;
    top: 3%;
    background:#8CDAD8;
    font-size: 4vh;
    

}
.sidebar header {
    padding: 1.5vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'Gaegu';
    color: white;
    background: #81c9c8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#check:checked ~ .sidebar{
    left: 0;
}

#settingscontent {
    transition: .3s;
}
#check:checked ~ #settingscontent{
    margin-left: 22%;
    
}



#check:checked ~ h1{
    margin-left: 13%;
}

#check:checked ~ label #menu-btn{
    left: calc(min(-15%, -120px));
    opacity: 0;
    pointer-events: none;
    
}

#check:checked ~ label #close-btn{
    left: calc(max(12%, 90px));
    padding: 1vh;
    opacity: 1;
    pointer-events: initial;
}

.sidebar ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    
   
}


.sidebar ul li{
   padding: 3vh 0;
   text-align: center;
   transition: 0.3s;
   border-radius: 20px;
   
  
}


.nav-link:hover{
    background: #81c9c8;
    transform: translateX(7%) scale(1.02);
    
}
.sidebar ul a, .sidebar ul p{
    color: #3E4350;
    font-weight: 600;
}

.nav-link{
    position: relative;

}

.nav-link:hover > .dropdown{
    display: block;
}

.nav-link > a > i {
    margin-left: .4rem;
}

.dropdown{
    position: initial;
    top: initial;
    left: initial;
    pointer-events: auto;
    display: none;  
}

.dropdown ul a{
    color: white;
}

.dropdown ul li{
    text-align: left;
    padding-left: 2vw;
}
.dropdown-link:hover{
    transform: translateX(3%) scale(1.02);
}

.sidebar .icons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #81c9c8;
    justify-content: center;
    padding: 1vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar .icons li{
    padding: .6vw;
}
.sidebar .icons li img{
    width: calc(max(2vw, 20px));
    transition: .3s;
    opacity: .8;
}

.sidebar .icons li img:hover{
    transform: scale(1.1);
}



/* -------------------- RESPONSIVENESS TO SMALLER SCREENS ------------------------- */
@media only screen and (max-width: 950px) {

    h1{
        padding-top: 7vw;
        padding-bottom: 2vw;
        
    }


    
  }
