body {
  margin: 0px;
  white-space: nowrap;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  width: 280px;
}

/* Style a bar */
.bar {
  overflow: hidden;
  padding: 0px 5px;
  background: #d9746c;
  height: 40px;
}

.bar img {
  margin-top: 0px;
}

#charactername {
  color: "white";
}

/* Style the character picker */
.picker {
  overflow: hidden;
  padding: 0px 12px;
  background: #b55a53;
}

.immaleft {
  float: left;
}

.immaright {
  width: 105px;
  float: right;
}

/* Style logos at bottom */
.test img {
  margin: 5px;
  background: #d9746c;
  
}

.leftside {
  float: left;
  margin-top: 6px;
}

.rightside {
  float: right;
  margin-top: 6px;
  
}

#immaicon {
  margin-top: 25px;
  margin-left: 10px;
}

/* Below is CSS for the toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #a11ed4;
}

/* Moves the slide circle */
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded slider outside */
.slider.round {
  border-radius: 17px;
}

/* Rounded slider inside */
.slider.round:before {
  border-radius: 50%;
}