body {
    margin: 0px;
    white-space: nowrap;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 10px;
}

/* Style a bar */
.bar {
    overflow: hidden;
    padding: 0px 12px;
    border: 2px solid #000000;
    border-bottom: none;
    background: linear-gradient(to bottom, #ffffff 0%, #f5f5fc 100%);
}
  
/* Style the character picker */
.picker {
    overflow: hidden;
    padding: 0px 12px;
    border: 2px solid #000000;
    border-bottom: none;
    background: radial-gradient(circle, #7b5ae0, #6600ff);
}

/* Style tabs */
.tab {
  overflow: hidden;
  border: 2px solid #000000;
  background-color: #ccccd9;
}

/* Style tab buttons */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
  background-color: inherit;
}

/* Style hovered tab */
.tab button:hover {
  background-color: #ddd;
}

/* Style active tab */
.tab button.active {
  background-color: #ebebf0;
}

/* Style tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid #000000;
  border-bottom: none;
  background-color: #ebebf0;
}