body {
  width: 280px;
  height: 195px;
  margin: 0px;
  white-space: nowrap;
  font-family: 'Assistant', 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

/* Style a bar */
.bar {
  height: 30px;
}

/* Style the central character picker */
.picker {
  height: 165px;
  
  background-size: 25px 25px;
  background-color: rgb(220, 223, 235);
  background-image:
  linear-gradient(to right, rgb(187, 187, 187) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(187, 187, 187) 1px, transparent 1px);
}

/* Icon scaling */
.bar img{
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

.logo-icon {
  opacity: 0.3;
}

.logo-icon:hover {
  opacity: 0.7;
}

#msg-freq {
  opacity: 0.5;
}

#clearbox {
  border-radius: 4px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.7);
  width: 125px;
  height: 145px;
  position: absolute;
  top: 30px;
  left: 135px;
}

#clearbox div {
  margin-top: 8px;
  margin-left: 8px;
}

.menu-button {
  border-radius: 17px;
  background: rgba(180, 180, 180, 0.39);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.menu-button:hover {
  background: rgba(138, 138, 138, 0.39);
}

/* Directing icons */
.unscaled-left, .scaled-left {
  position: absolute;
  left: 7px;
}

.scaled-right {
  position: absolute;
  right: 5px;
}

/* Styling specific elements */
#immalogo {
  margin-top: 1px;
  width: 28px;
  height: 28px;
}

#immalogowords {
  position: absolute;
  top: 4px;
  left: 33px;
  width: 59px;
  height: 23px;
}

#immaicon {
  margin-top: 20px;
  margin-left: 10px;
}

#popup-title {
  font-size: 17px;
  opacity: 50%;
}

#popup-title:hover {
  opacity: 80%;
}

#help-text {
  font-size: 13px;
  opacity: 50%;
}

#help-text:hover {
  opacity: 80%;
}

#charactername {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
  margin-bottom: 4px;
  font-weight: 800;
  font-family: 'Gaegu', 'Segoe UI', sans-serif;
}

#questionmark {
  width: 16px;
}

/* Style file selectors */

input[type="file"] {
  display: none;
}

/* Disable link underlining */

a:hover, a:active, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}


/* Below is CSS for the toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(158, 158, 158);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #764fff;
}

/* Moves the slide circle */
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded slider outside */
.slider.round {border-radius: 17px;}

/* Rounded slider inside */
.slider.round:before {border-radius: 50%;}

/* Align slider with side text */
div label, div input{
  vertical-align: middle;
}