html {
	height: 110%;
	margin: 0px;
	background-image: linear-gradient(#c8c8ec, #aa9ddb);
	font-family: 'Assistant', 'Segoe UI', sans-serif;
	line-height: 17px;
}

/* Styling text */
h2 {
	color: #000000; font-weight: 700; font-size: 26px; text-align: center;
}
h3 {
    color: #7252e6; font-weight: 500; font-size: 20px; text-align: center;
}
p {
    color: #7252e6; font-weight: 500; font-size: 16px; text-align: center;
}

#content {
    margin: 10%;
    margin-top: 80px;
	text-align: center;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

a:active, a:link, a:visited {color: #9c2add; text-decoration: none;}
a:hover {color: #401fb8; text-decoration: none;}

/* Styling individual elements */
#logo-icon {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 40px;
}

#logo-text {
	position: absolute;
	left: 55px;
	top: 0px;
}

#char-icon {
	margin-top: 30px;
	width: 10%;
}

.mainbutton {
    border-radius: 5px;
    background: #f7f3ff38;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: rgb(99, 39, 240);
    vertical-align: middle;
}

.mainbutton:hover {
    background: rgba(64, 17, 173, 0.473);
    color: rgb(255, 255, 255);
}

/* Styling scrollbar */
::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {background: #563b7500; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
::-webkit-scrollbar-thumb {
    border-radius: 35px;
    width: 4px;
    background: #8778da;
    border: 5px solid transparent;
    background-clip: content-box;
}

/* Styling footer */
footer {
    position: fixed;
    left: 0; bottom: 0;
    height: 5%; width: 100%;
    background: rgba(255, 255, 255, 0.4);
}
footer p {
    position: relative;
    bottom: 17%;
	text-align: center;
	color: #000000;
    font-weight: 400; font-size: 14px;
}
