#settingscontent {
    margin-left: 10%;
    width: 80%;
}

#check:checked ~ #settingscontent{
    margin-left: 17%;
    transition: .3s;
}
.sidebar{
    top:0;
}

#title{
    font-size:calc(max(3vw, 35px));
    margin: 0;
    padding-top: 0;
    margin-bottom: -2%;
    color: #e89776;


}

h2{
    font-size:calc(max(2.5vw, 25px));
    margin: 30px 10px 5px 10px;
    

}
label #close-btn{
    top:1%;
}
.bubble p {
    text-align: left;
    padding: 3px;
}

#popup-image {
    width:50%;
    border-radius:15px;
    float:right;
    margin: 10px 30px 0px 30px;
}

.bubble {
    position: relative;
}

#welcome-image {
    width: 200px;
    position: absolute;
    bottom: -22px;
    right: 10px;
}

