
#content {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.bubble{
    margin: 0 2vw;

}

ol, ul{
    padding-left: 30px;
}

ol li{
    padding-left: 10px;
}

#left, #right {
    width: 43%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    margin-top: 2%;
    
}

#show-all-faq, #show-all-ts{
    cursor: pointer;
    color: gray;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 14px;
}

#show-all-faq:hover, #show-all-ts:hover{
    color: black;
}



#help-title{ 
    margin-top: 2.5%;
    margin-bottom: -3%;
    text-align: center;
    font-size:calc(max(4.5vw, 30px)); 

}

.question{
    font-family: 'Assistant';
    font-weight: 600;
    font-size: calc(max(1.3vw, 18px));
    margin-bottom: 5%;
    cursor: pointer;
}

.question:hover{
    color: gray;
}

#q0, #t0{
    font-size: calc(max(2.5vw, 2rem));
    color: #8CDAD8;
    margin-bottom: 0;
}

.answer{
    margin-top: -3%;
    margin-bottom: 5%;
    font-size: calc(max(1.25vw, 16px));
    

}

#center{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.center-text {
    font-size: calc(max(2vw, 20px));
    color: #d97d59;
}

#need-help{
    margin-top: 80%;
}
#im0-img{
    width: calc(max(12vw, 120px));
    height: calc(max(12vw, 120px));
}

.answer{
    animation: fadeInText 500ms 0ms forwards;
}


@keyframes fadeInText {
    from {
      transform: translateY(-20px);
      opacity: 0;
    } to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @media only screen and (max-width: 850px) {

    #content{
        flex-direction: column;
        height: 150%;
    }


    #left, #right{
        width: 80%;
        margin-bottom: 5%;
    }


    
    
  }