html {
    overflow-y: hidden;
    cursor: default;
    
}

#content {
    height: 70%;
}

#left, #right {
    width: 42.5%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
}

#left {float: left; margin-left: 5%;}
#right {float: right; margin-right: 5%;}

#help-title{
    font-size: 60px; 
    margin-top: 2.5%;
    margin-bottom: -3%;
    text-align: center;
}

.question{
    font-family: 'Assistant';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5%;
    cursor: pointer;
}

.question:hover{
    color: gray;
}

#q0, #t0{
    font-size: 35px;
    color: #3E4350;
}

.answer{
    margin-top: -3%;
    margin-bottom: 5%;
    

}

