*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-y: hidden;
    
}




h1{
    font-size:calc(max(4.5vw, 30px)); 
    padding-top: 3vw;
    text-align: center;
    

}


#settingscontent {
    height: 70%; 
    text-align: center;
    width: 70%; 
    margin: auto;
    overflow-y: scroll;
    vertical-align: middle;
    margin-top: 1vw;
    
    

}

.bbug-entry {
    width: 80%;
    margin-left: 10%;
    margin-bottom:15px;
    height: 60px;
    border: gray 2px dashed;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bbug-entry:hover {
    background-color: rgba(255, 255, 255, 1);
}

.bbug-entry img {
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.bbug-entry span {
    margin-top: 15px;
    font-size: 20px;
}

.namer {
    float: left;
    margin-left: 2%;
}

.activator {
    float: right;
    margin-right: 5%;
    color:rgb(175, 116, 86);
}

.remover, .viewer {
    float: right;
    margin-right: 3%;
}

.activator:hover, .remover:hover, .viewer:hover {
    color: rgb(0, 117, 255);
}

.purchaseThing {
    margin-bottom: 10px;
}

.purchaseThing button{
    border: none;
    background-color: #F4A180;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-weight: 600;
    padding: 1vh 1vw;
    cursor: pointer;
    margin-top: 1vh;
    
}

.purchaseThing button:hover{
    background-color: #e89776;
}


/* TEMP FIX */
footer p{
    padding-top: 10px;
}


@media only screen and (max-width: 850px) {

    h1{
        padding-top: 7vw;
        padding-bottom: 4vw;
        
    }


    
  }

  