html, body {
    overflow-y: visible;
    height: 101%;
    text-align: center;
    font-family:'Assistant';
    cursor: default;
}

#studio-title{
    font-size: 6.5vw; 
    margin-top: 2.5%;
    margin-bottom: -1%;
    

}



/* #help-icon, #acct-icon, #studio-icon, #options-icon{
   
} */


.toggler{
    cursor: pointer;
}
.column {
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    float: left;
    width: calc(max(30%, 300px));
}

textarea {
    width: inherit;
    height: 50px;
    font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 15px;
    border: 2px rgb(197, 197, 197) solid;
}

input {
    border: 2px rgb(197, 197, 197) solid;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
    font-size: 19px;
}

.slider {
    width: calc(max(30%, 50px));
    cursor: pointer;
}

#main-bubble {
    font-size: 18px;
    font-weight: 600;
    
}

.toggler {
    margin-bottom: 0px;
}

.toggler:hover + p {
    display: block;
}

.toggling {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
    width: 80%; margin-left: 10%;
    display: none;
}



#topright-toolbar {
    float: right;
    margin-top: 15px;
    margin-right: 2%;
}


.bubble {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0);
}

.personLabels {
    display: inline-block;
    width: 90px;
}

.textingLabels {
    font-size: 20px;
}

div label, div input{
    vertical-align: middle;
}

.scaler-text {
    line-height: 0px;
}


/* Scrollbar shows up on side so round the radius equally */
::-webkit-scrollbar-track {border-radius: 0px;}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: 4px;
    background: #333333a2;
    border: 5px solid transparent;
    background-clip: content-box;
}

/* Center Column  */
#pName{
    font-weight: 600; 
    font-size: calc(max(1.5vw, 12px));
    color: #3E4350; 
}

#imma-name{
    width: 45%; 
    font-family: 'Assistant'; 
    color: gray; 
    font-size: calc(max(1.5vw, 12px)); 
    border: none; 
    border-radius: 15px; 
    margin-top: 1%;
}

#imgLabelr{
    border-radius: 20px; 
    font-size: calc(max(1.2vw, 12px));
    font-weight: 600; 
    width: 20%;
}

#imgLabelr:hover{
    background-color: #ededed;
}
#activate {
    margin-top: 3%;
    border-radius: 20px;
    font-size: calc(max(1.4vw, 15px));;
    width: 45%;
    font-weight: 700;
    color: #3E4350;
    background-color: #8CDAD8;
}

.top-buttons{
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
    margin-top: 7%;
    margin-left: -3.5%;

 }
 
 #new, #export, #openBbug, #uploadBbug, #fOpen{
     background-color: #F4A180;
     border-radius: 10px;
     font-weight: 700;
 }

 #new:hover, #export:hover, #openBbug:hover, #uploadBbug:hover, #fOpen:hover{
    background-color: #e89776;
 }

 

 #activate:hover{
     background-color: #81c9c8;
 }

/* Left Column */

.category-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wellness-icon, #focus-icon, #support-icon, #kudos-icon{
    width: 20%;
    height: 20%;
    padding: .5%;
    cursor: pointer;
}

.quoteButtons div {
    margin: 1%;
    width: 18%;
    white-space: nowrap;
    display: inline-block;
    color: gray;
    cursor: pointer;
    font-size: calc(max(1.2vw, 12px));

   
    
}


.quoteButtons div:hover {
    color: rgb(50, 50, 50);
}

#WellnessC, #FocusC, #KudosC, #SupportC{
   display: none;
}

#showAllQuotes:hover{
    color: gray;
    cursor: pointer;
}

#categories, #custMsgs, #textingstyle{
    font-weight: 700;
    
}

#txt1, #txt2, #txt3, #proportion{
    font-weight: 600;
    line-height: 30px;
    
}

#tsLabel1{
    line-height: 10px;
}

/* Right Column */

#addMessage{
    border-radius: 10px;
    font-weight: 700;
    background-color: #8CDAD8;
    color: #3E4350;
}

#addMessage:hover{
    background-color: #81c9c8;
}

#messagecontent{
    border:none;
}

#cm1, #cm6{
    font-weight: 600;
}