html, body {
    overflow-y: visible;
    height: 101%;
}

.column {
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    float: left;
    width: calc(max(30%, 300px));
}

textarea {
    width: inherit;
    height: 50px;
    font-family: 'Assistant', 'Segoe UI', sans-serif;
    font-size: 15px;
    border: 2px rgb(197, 197, 197) solid;
}

input {
    border: 2px rgb(197, 197, 197) solid;
    font-family: 'Gaegu', 'Segoe UI', sans-serif;
    font-size: 19px;
}

.slider {
    width: calc(max(30%, 50px));
}

#main-bubble {
    font-size: 18px;
    font-weight: 600;
    
}

.toggler {
    margin-bottom: 0px;
}

.toggler:hover + p {
    display: block;
}

.toggling {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
    width: 80%; margin-left: 10%;
    display: none;
}

#activate {
    background-color: rgb(0, 117, 255);
    color: rgb(255, 255, 255);
    width: 70%;
}

#topright-toolbar {
    float: right;
    margin-top: 15px;
    margin-right: 2%;
}

#activate:hover {
    background-color: rgb(0, 80, 175);
}

.bubble {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0);
}

.personLabels {
    display: inline-block;
    width: 90px;
}

.textingLabels {
    font-size: 20px;
}

div label, div input{
    vertical-align: middle;
}

.scaler-text {
    line-height: 0px;
}

.quoteButtons div {
    width: 80px;
    height: 30px;
    margin: auto;
    margin-bottom: 3px;
    display: inline-block;
    border: 1px black dotted;
}

.quoteButtons div:hover {
    background-color: lightgray;
}

/* Scrollbar shows up on side so round the radius equally */
::-webkit-scrollbar-track {border-radius: 0px;}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: 4px;
    background: #333333a2;
    border: 5px solid transparent;
    background-clip: content-box;
}