:root {
	--color-very-light-grey: #cccccc;
	--color-light-grey: #aaaaaa;
	--color-medium-grey: #666666;
	--color-header-background: rgba(20,0,0,0.4);
	--color-theme: #444444;
	--font-theme: 'Open Sans', serif, sans-serif;
	--font-headline: 'Merriweather', serif, sans-serif;
	--font-caption: 'Oxygen', serif, sans-serif;
}

header {
	position: relative;
    width: 100%;
    background-blend-mode: multiply;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5)!important;
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5)!important;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5)!important;
}

.navbar-brand {
	font-size: 16px;
}

#home-tab {
	margin-left: 12px;
}

#logo {
    display: block;
    margin-right: 8px;
}

#home-tab-wrapper:hover strong {
	color: var(--color-theme);
}

.navbar-tab-wrapper {
	border-radius: 4px;
}

.navbar-tab-wrapper:hover {
	background-color: white;
}

.navbar-tab-wrapper:hover .navbar-tab {
	color: var(--color-theme)!important;
}

.navbar-tab {
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 15px;
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-title {
	color: white;
	font-family: var(--font-headline);
}

.banner-caption {
	color: var(--color-very-light-grey);
	font-family: var(--font-caption);
}

.bg-theme {
	background-color: var(--color-theme)!important;
}

.text-theme {
	color: var(--color-theme);
}

hr {
	border-top: dashed 1px;
	color: var(--color-light-grey);
}

.about-logo {
	width: 150px;
	height: 150px;
	display: none;
}

.about-txt {
	color: var(--color-light-grey);
}

/*
 * Contact Section
 */
.contact-ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.contact-li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

li a:hover {
	color: black;
}

.contact-fa {
	font-size: 28px;
}

#copyright {
	color: var(--color-medium-grey);
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
header {
	border-radius: 0;
	background: url(imgs/header_background.png) no-repeat top right;
	background-color: var(--color-header-background);
	height: 300px;
}

.navbar-tab {
	display: none!important;
}

.banner {
	height: 100%;
}

.banner-title {
	font-size: 40px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	header {
		height: 650px;
	}
	.navbar-tab {
		display: block!important;
	}
	.banner {
		height: calc(100% - 50px);
	}
	.banner-title {
		font-size: 50px;
	}
	.about-logo {
		display: block;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		height: 650px;
	}
	.banner-title {
		font-size: 60px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header {
		height: 750px;
	}
	.banner-title {
		font-size: 80px;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}